@model IEnumerable<BuyalotWebShoppingApp.Models.Admin>

@{
    ViewBag.Title = "Admin Manager | Index";
    //Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Bootstrap -->
<link href="./Content/bootstrap-theme.css" rel="stylesheet" />
<link href="./Content/bootstrap.min.css" rel="stylesheet" />
<link href="./Content/stylesheet.css" rel="stylesheet" />

<link href="~/Content/dataTables.bootstrap.css" rel="stylesheet" />

<link href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" type="text/css" rel="stylesheet" />
<link href="https://cdn.datatables.net/buttons/1.2.4/css/buttons.dataTables.min.css" type="text/css" rel="stylesheet" />
<link href="http://cdn.datatables.net/tabletools/2.2.4/css/dataTables.tableTools.css" type="text/javascript" rel="stylesheet" />


<style type="text/css">
    #myInput {
        background-image: url('/Images/search.png');
        background-position: 10px 12px;
        background-repeat: no-repeat;
        width: 100%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
    }

    #myTable {
        /*border-collapse: collapse;*/
        width: 100%;
        border: 1px solid #ddd;
        font-size: 14px;
    }
</style>

<br />
<br />
<fieldset>
    <legend class="container">Admin Management Dashboard</legend>
    <br />
    <button class="btn btn-default">
        @Html.ActionLink("Add New Store Admin", "Create")
    </button>
    <br />
    <br /><hr />
    @*<br />
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for products..">
        <br />*@
    <table class="table table-striped table-responsive table-bordered table-condensed" id="myTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.adminName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.password)
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.adminName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.password)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.adminID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.adminID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.adminID })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</fieldset>

<script src="~/Scripts/jquery.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTables.bootstrap.min.js"></script>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.24/build/pdfmake.min.js"></script>
<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.24/build/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.print.min.js"></script>
<script src="http://cdn.datatables.net/buttons/1.2.4/js/buttons.colVis.min.js"></script>


<script>
    var table = $('#myTable').DataTable({
        "aoColumnDefs": [
          { 'bSortable': false, 'aTargets': [3] }
        ],
        dom: 'Bfrtip',
        buttons: [
            'copy',
            'print',
            'pdf'
        ]

    });
    table.buttons().container()
   .appendTo('#myOrderTable_wrapper .col-md-6:eq(0)');

</script>
