@model BuyalotWebShoppingApp.Models.ProductCategory

@{
    ViewBag.Title = "Category Management Dashboard | Add Category";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<hr />
<fieldset>

    <legend class="container">Category Management Dashboard | Add Category</legend>
    @using (Html.BeginForm("Create", "CategoryManagement", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Product Category Details</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.CategoryName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CategoryName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

</fieldset>
<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        $("#ListId").width(700);
    });
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
