@model BuyalotWebShoppingApp.Models.ProductCategory

@{
    ViewBag.Title = "Delete";
}
<br />
<hr />
<h3>Are you sure you want to delete @Model.CategoryName ?</h3>
<h3 style="color:red">Warning!! Deleting this Category might affect Products within it!!</h3>
<hr />
<fieldset>
    <legend class="container">Delete Category</legend>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
   
</fieldset>
