@using BuyalotWebShoppingApp.Models;
@model BuyalotWebShoppingApp.Models.Admin
@{
    ViewBag.Title = "Login";
}

<br />
<h2> Admin Login</h2>

@ViewBag.err
@using (Html.BeginForm("Login", "Account", new { returnUrl = Request.QueryString["ReturnUrl"] }, FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <fieldset class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.email, new { @class = "control-label col-sm-3" })
            <div class="col-sm-9">
                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.email, "", new { htmlAttributes = new { @class = "text-danger" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.password, new { @class = "control-label col-sm-3" })
            <div class="col-sm-9">
                @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                @Html.ValidationMessageFor(model => model.password, "", new { htmlAttributes = new { @class = "text-danger" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-log-in"></span> Login</button>
            </div>
            <div class="col-md-offset-3 col-sm-3">
                @Html.ActionLink("Forgot password?", "ForgotPassword")
            </div>
        </div>
    </fieldset>
}
<div>
    @Html.ActionLink("Don't have an account? Register", "Register")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}